* {
    margin: auto;
    color: gold;
    text-decoration: none;
     text-shadow: 0.5px 0.5px 0.5px black; 
}
.nav ,ul {
    list-style: none;
    background-color: darkgreen;
    display: flex;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem; 
    flex-direction: row;
    margin: 0;
    justify-content: right;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.nav >ul >li >a {
    color: gold;
}
.navbar {
    font-size: 22px;
}

.navlogo-fixed >a >img{
    width: 74px;
    height: 74px;
    border-radius: 44px;
    justify-content: center;
    margin: 0rem;

}
.navlogo-fixed {
    position: fixed;
    top: 0.7rem;
    left: 0.2rem;
    justify-content: center;
}
.navbar-logo { 
    display: flexbox;
    flex-direction: row;
    justify-content: center;
}

.service-image-styles {
    display: flexbox;
    padding: 0rem;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0.2rem;
    font-size: 20px;
}
.home-image-styles { 
    display: flex;
    padding: 11rem;
    flex-direction: row;
    justify-content: center;
    margin: 0rem;
}
.home-image-styles >img{
    width: 500px;
    height: 500px;
    border-radius: 24px;
}
.logo-background{
    background-image: url('image23.jpg');
    background-size: 36% 75%;
    background-attachment: fixed;
}

.aboutus-image-styles {
    display: flex;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0rem;
    align-content: center;
}
.shopping-cart-title {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 25px;
} 

.section-title {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 25px;
}
.paragraph-text {
    display: flexbox;
    flex-direction: column;
    margin: .4rem;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 700;
}

a:hover {
    flood-opacity: 100%;
     color: blueviolet;
}
.main-content {
    display: flexbox;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
}



.footer >ul {
    list-style: none;
    background-color: darkgreen;
    display: flex;
    padding: auto;
    flex-direction: column;
    margin: 0;
    justify-content: center,space-evenly;
    font-size: 19px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    width: 100%;
} 

.strains1 > img{
    border-radius: 44px;
    height: 400px;
    width: 400px;

}
.strains2 > img {
    border-radius: 44px;
    height: 400px;
    width: 400px ;

}
.strains3 >img {
    border-radius: 44px;
    height: 400px;
    width: 400px ;

}
.strains4 >img {
    border-radius: 44px;
    height: 400px;
    width: 400px ;

}
.services1 >img {
    border-radius: 90px 5px 110px;
    width: 400px;
    height: 400px;
}
.services2 >img {
    border-radius: 5px 90px 10px;
    width: 400px;
    height: 400px;
}
.services3 >img {
    border-radius: 90px 5px 110px;
    width: 400px;
    height: 400px;
}
.services4 >img {
    border-radius: 5px 90px 10px;
    width: 400px;
    height: 400px;
}
.aboutus1 >img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.aboutus2 >img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.aboutus3 >img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}
.darkmode-toggle {
    justify-content: right;
    background-color: darkgreen;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: right;
}

/* 3D Carousel rotating by Claudiu Lazar */

body {
    text-align: justify;
    height: 100%;
    width: 100%;
    background-color: cornsilk;
    display: flexbox;
    margin: auto;
    padding: auto;
  }
  .dark-mode{
    background-color: black;
  }
  .container {
    position: relative;
    max-width:  300px;
    margin: auto;
    perspective: 1000px;
    display: flexbox;
    padding: auto;
    width: 100%;
    height: 100%;
  }
  
  .tohcCarousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
    display: flex;
  }

  .carousel_Strains { 
    position: absolute;
    justify-content: center;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    display: flex;

  }
  
  span {
    margin: auto;
    font-size: 2rem;
  }
  
  .carousel_Strains:nth-child(1) {
    background-image: url("logo.jpg");
    transform: rotateY(  0deg) translateZ(290px); }
  .carousel_Strains:nth-child(2) { 
    background-image: url("image8.jpg");
      transform: rotateY( 60deg) translateZ(290px); }
  .carousel_Strains:nth-child(3) {
    background-image: url("image10.jpg");
    transform: rotateY( 120deg) translateZ(290px); }
  .carousel_Strains:nth-child(4) {
    background-image: url("image26.jpg");
    transform: rotateY(180deg) translateZ(290px); }
  .carousel_Strains:nth-child(5) { 
    background-image: url("image23.jpg");
   transform: rotateY(240deg) translateZ(290px); }
  .carousel_Strains:nth-child(6) { 
    background-image: url("image13.jpg");
   transform: rotateY(300deg) translateZ(290px); }
  
  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-360deg);
    }
  }
/* 3D Carousel rotating by Claudiu Lazar */
.order-section{
      text-align: center;
  }

  .Order>h1 {
      padding-bottom: 32px;
      padding-top: 25px ;
  }
  .footer {
    height: 100%;
}
.fix-footer{
    padding-top: 40px;
} 
.footer-darkmode-toggle >a {
    color: black;
}
.shopping-fix-footer {
    display: block;
}
.footer-darkmode-toggle {
    background-color: gold;
    text-decoration: none;
    border-radius: 44px;
}
/* drop down navigation*/

.navdrop {
    background-color: gold;
    color: darkgreen;
    padding: 0.2rem;
    font-size: 16px;
    border-radius: 44px;
    cursor: pointer;
}
.navdrop:hover, .navdrop:focus {
    color: blueviolet;
}
.drop-down-nav {
    position: relative;
    display: inline-block;
}
.drop-links {
    display: none;
    position: absolute;
    background-color: gold;
    min-width: 80px;
    z-index: 1;  
}
.drop-links a {
    color: darkgreen;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}
.drop-links a:hover {
    color: blueviolet;
}
.open {
    display: block;
}
/* drop down navigation*/

