@media only screen and (min-width: 900px) {
    
    

    .strains1{
        display: initial;
    }
   
    .services1{
        display: initial;
    }
    .aboutus3{
        display: initial;
    }




} /* Ending of medium-screens media query */