html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}


@media only screen and (min-width: 280px) {
    * {
        margin: auto;
        padding: auto;
        text-decoration: none;
    }
    .orderdiv{
        display: none;
    }
    .order-li4 {
        display: none;
    }
    .navlogo-fixed >a >img{
        width: 34px;
        height: 34px;
        border-radius: 44px;
    
    }
    .navlogo-fixed{
        justify-content: space-evenly;
    }
    .strains2{
        display: none;
    }
    .strains4{
        display: none;
    }
    .strains1{
        display: none;
    }
    .strains3 >img{
        width: 260px;
        height: 260px;
    }
    
    .services1 {
        display: none;
    }
    .services2{
        display: none;
    }
    .services3 >img{
        width: 260px;
        height: 260px;
    }
    .services4{
        display: none;
    }
    .aboutus1{
        display: none;
    }
    .aboutus2 >img{
        border-radius: 50%;
        width: 260px;
        height: 260px;
    }
    .aboutus3{
        display: none;
    }
    .paragraph-text{
        font-size: 13px;
    }
    .extra-filler{
        display: none;
    }
    .navbar{
        font-size: 10px;
    }
    .logo-background{
       background-image: none;
       padding: 2;
    }
    .home-image-styles { 
        display: flex;
        padding: 2rem;
        flex-direction: row;
        justify-content: center;
       
    }
    .home-image-styles >img{
        width: 260px;
        height: 260px;
        border-radius: 24px;
    }
    .section-title{
        font-size: 12px;
    } 
    .footer >ul {
        font-size: 12px;
    }
    .fix-footer{
        padding-top: 100px;
        font-size: 12px;
        text-align: center;

    }

    
}
 /* Ending of Smallest-screens media query */