@media only screen and (min-width: 1700px) {
  
  .navbar{
    font-size: 24px;
}
  .fix-footer{
    padding-top: 400px;

}
.orderdiv{
    display: initial;
}
.navlogo-fixed{
    display: initial;
}
.navlogo-fixed >li >a >img{
  width: 84px;
  height: 84px;
  border-radius: 44px;

}

.strains1{
  display: initial;
}
.strains2{
    display: initial;
}
.strains4{
    display: initial;
}

.services1 {
    display: initial;
}
.services2{
    display: initial;
}
.services4{
    display: initial;
}
.aboutus1{
    display: initial;
}
.aboutus3{
    display: initial;
}
.aboutus1 >img{
  border-radius: 50%;
  width: 500px;
  height: 500px;
}
.aboutus2 >img{
  border-radius: 50%;
  width: 500px;
  height: 500px;
}
.aboutus3 >img{
  border-radius: 50%;
  width: 500px;
  height: 500px;
}



} /* Ending of XL-screens media query */
